@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(http://fonts.cdnfonts.com/css/proxima-nova-2);

@import "@fancyapps/ui/dist/fancybox.css";


* {
    font-family: "Proxima Nova", sans-serif;
}
body {
    background: #e6e9f2;
}



p{
    color: #3A4562; 
}

h4 {
    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #3A4562;
    margin-bottom: 24px;
}